# Environment Variables
.env
.env.local
.env.*.local

# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Development Directories
/seeds
/dist
/build

# IDE Files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Testing
.nyc_output
coverage

# Temporary Files
tmp
temp
*.tmp
